// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// Roboto Slab
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Roboto Mono
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

// Open Sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Unica One
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Noto Sans
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	height: 100%;

	background: #f1f1f1;

	// TODO: remove these lines
	border: 5px solid rgba(30, 0, 255, 0.5);
}

#root {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	height: 100%;

	// TODO: remove these lines
	// border: 5px solid rgba(255, 0, 0, 0.5);
	// padding: 1rem;
}

*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.Toastify__toast-body {
	padding: 0 !important;
}

.Toastify__close-button {
	svg {
		filter: invert(17%) sepia(86%) saturate(7412%) hue-rotate(360deg)
			brightness(103%) contrast(117%);
		width: 15px !important;
		height: 15px !important;
	}
}

::-webkit-scrollbar {
	width: 10px;
  }
  
  
  /* Handle */
  /* set the color of the scrollbar and the radius of its corners */
  
  ::-webkit-scrollbar-thumb {
	background: rgb(40, 40, 40);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
  }
  
  
  /* Handle on hover */
  /* set the color of the scrollbar when hovered over */
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(60, 60, 60);
  }
  
  
  /* Handle on active */
  /* set the color of the scrollbar when clicked */
  
  ::-webkit-scrollbar-thumb:active {
	background: rgb(80, 80, 80);
  }